
/* 1/24 */ justify-content: flex-end;
/* 2/24 */ justify-content: center;
/* 3/24 */ justify-content: space-around;
/* 4/24 */ justify-content: space-between;
/* 5/24 */ align-items: flex-end;
/* 6/24 */ justify-content: center; 
           align-items:center;
/* 7/24 */ align-items: flex-end; 
           justify-content: space-around ;
/* 8/24 */ justify-content: flex-start; 
           flex-direction: row-reverse;
/* 9/24 */ flex-direction: column
/* 10/24 */ flex-direction: row-reverse; 
            justify-content: flex-end
/* 11/24 */ flex-direction: column; 
            justify-content: flex-end;
/* 12/24 */ flex-direction: column-reverse; 
            justify-content: space-between;
/* 13/24 */ flex-direction: row-reverse; 
            justify-content: center; 
            align-items: flex-end;
/* 14/24 */ order: 3;
/* 15/24 */ order: -1
/* 16/24 */ align-self: flex-end;
/* 17/24 */ align-self: flex-end; 
            order: 1;
/* 18/24 */ flex-wrap: wrap;
/* 19/24 */ flex-wrap: wrap; 
            flex-direction: column;
/* 20/24 */ flex-wrap: wrap; 
            flex-direction: column;
/* 21/24 */ flex-wrap: wrap; 
            align-content:flex-start;
/* 22/24 */ align-content: flex-end;
/* 23/24 */ flex-direction: column-reverse; 
            align-content: center;
/* 24/24 */ flex-flow: column-reverse;
            flex-wrap: wrap-reverse;
            flex-direction: column;
            justify-content: center; 
            align-content: space-between; 
